@use "sass:color";

// ===== COLOR ===== //
$white: rgb(255 255 255);
$black: rgb(0 0 0);
$gray: rgb(25 25 25);
$gray-light: rgb(128 128 128);
$blue-green: rgb(17 141 168);


/* background */
$background-main: $gray;
$background-accent: $black;

/* text */
$text-main-color: color.scale($white, $alpha: -30%);
$text-accent-blue: $blue-green;

/* title */
$title-color: $white;

/* link */
$link-main-color: $white;
$link-hover-color: color.scale($blue-green, $blackness: 15%);
$link-active-color: color.scale($blue-green, $blackness: 30%);
$link-bg-accent: $blue-green;

/* burger */
$burger-bg-main: $white;
$burger-bg-hover: $gray-light;
$burger-bg-active: color.scale($gray-light, $blackness: 25%);

/* button */
$button-text-color: $white;
$button-bg-main: $blue-green;
$button-bg-hover: color.scale($blue-green, $blackness: 15%);
$button-bg-active: color.scale($blue-green, $blackness: 30%);

/* episodes card */
$episodes-card-bg: $black;
$episodes-card-link-bg: $gray;
$episodes-card-link-bg-hover: color.scale($gray, $lightness: 15%);
$episodes-card-link-bg-active: color.scale($gray, $lightness: 30%);

/* quote */
$quote-text-color: $white;

// ===== TYPOGRAPHY ===== //
$font-family-primary: "DM Sans", sans-serif;
