@use "sass:color";

// ===== COLOR ===== //
$white: rgb(255, 255, 255);
$gray: rgb(25, 25, 25);
$blue-green: rgb(17, 141, 168);

/* background */
$background-main: $gray;

/* text */
$text-main-color: color.scale($white, $alpha: 70%);

/* link */
$link-main-color: $white;
$link-hover-color: color.scale($blue-green, $blackness: 15%);
$link-active-color: color.scale($blue-green, $blackness: 30%);

/* burger */
$burger-bg-main: $white;

// ===== TYPOGRAPHY ===== //
$font-family-primary: "DM Sans", sans-serif;
