@use "./styles/variables" as variables;
@use "./styles/fonts";
@use 'swiper/css';
@use 'swiper/css/pagination';
@use 'swiper/css/navigation';

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: variables.$background-main;
  color: variables.$text-main-color;
  font-family: variables.$font-family-primary;
  font-style: normal;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0;
}

.container {
  max-width: 1330px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  color: variables.$title-color;
  font-size: 64px;
  font-weight: 400;
  line-height: 79.2px;
  letter-spacing: 2.88px;
  text-align: left;

  @media (width <= 992px) {
    font-size: 40px;
    letter-spacing: 2.56px;
    line-height: 58px;
  }

  @media (width <= 576px) {
    font-size: 32px;
    letter-spacing: 2.56px;
    line-height: 48px;
  }
}

.text {
  color: variables.$text-main-color;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 18px;

  @media (width <= 576px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.button {
  background-color: variables.$button-bg-main;
  padding: 12px 20px;
  border-radius: 6px;
  border: none;
  color: variables.$button-text-color;
  font-family: variables.$font-family-primary;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  align-self: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: variables.$button-bg-hover;
  }

  &:active {
    background-color: variables.$button-bg-active;
  }
}

.caption {
  display: block;
  color: variables.$text-accent-blue;
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 18px;
}

.swiper {
  border-radius: 13px;
  overflow: hidden;
}

.swiper-slide {
  max-width: 1300px;
  width: 100%;
  border-radius: 13px;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.link {
  text-decoration: none;
  color: variables.$link-main-color;
  font-size: 17px;
  line-height: 27px;
  transition: color 0.5s ease;

  &:hover {
    color: variables.$link-hover-color;
  }

  &:active {
    color: variables.$link-active-color;
  }

  @media (width <= 768px) {
    font-size: 24px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}
